body {
  width: 100vw;
  height: 100vh;
  background-color: #a7c9c6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.text-md {
  font-size: 1.2rem;
}
.pd {
  padding: 5px;
}
.mg {
  margin: 0;
}
.tr {
  transition: all 0.3s ease;
}
.outline {
  outline: none;
}
.bd {
  border: 1px solid grey;
}
.color {
  color: #fff;
}
.bdn {
  border: none;
}
.textCenter {
  text-align: center;
}
.signIn {
  max-height: 400px;
  position: absolute;
}
.signUp {
  max-height: 500px;
  transform: translateX(550px);
  opacity: 0;
}
.logout {
  padding: 10px 12px;
  margin: 1rem;
  background-color: #437583;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 100;
}
#signInE,
#signUpE {
  margin: 10px;
}
#signInBtn,
#signUpBtn,
#signInB,
#signUpB {
  padding: 10px 12px;
  margin: 1rem;
  background-color: #437583;
}
#text {
  color: grey;
}
#firstName,
#lastName {
  margin: 5px;
}
.utilForm {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
}
#successP {
  background-color: #0aad49;
  animation: fadeIn 0.5s 1 linear;
}
.util {
  width: 70%;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
}
.emailToast {
  background-color: #485296;
  animation: fadeLeft 0.5s 1 linear;
}
.inputToast {
  background-color: #2c2538;
  animation: fadeRight 0.5s 1 linear;
}
.loginToast {
  background-color: #758758;
  animation: fadeRight 0.5s 1 linear;
}
.incorrectToast {
  padding: 1rem;
  background-color: #454874;
  animation: fadeBottom 0.5s 1 linear;
}
@keyframes fadeIn {
  to {
    top: 10px;
    opacity: 1;
  }
  from {
    opacity: 0;
    top: -70px;
  }
}
@keyframes fadeLeft {
  to {
    opacity: 1;
    right: 0;
  }
  from {
    right: 100px;
    opacity: 0;
    display: block;
  }
}
@keyframes fadeRight {
  to {
    opacity: 1;
    left: 0;
  }
  from {
    left: 100px;
    opacity: 0;
    display: block;
  }
}
@keyframes fadeBottom {
  to {
    opacity: 1;
    bottom: 0;
  }
  from {
    bottom: 100px;
    opacity: 0;
    display: block;
  }
}
