* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
.btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  padding: 1rem;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.gap{
    gap: 1rem;
}
.primary-color{
    color: #fff;
}
h1 {
  background-color: grey;
  text-align: center;
  padding: 10px;
}
.container {
  max-width: 400px;
  background-color: #a8a2a2;
  margin: 3rem auto;
  padding: 1rem;
}
.userlist li {
  width: 400px;
  background-color: grey;
  color: #fff;
  padding: 1rem 2rem;
}
.msg {
  display: none;
  font-size: 17px;
}
