* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #494646;
  color: #fff;
}
.container {
  max-width: 500px;
  margin: 1rem auto;
}
.container h1 {
  margin-bottom: 10px;
}
.container .card {
  margin-top: 10px;
  background-color: #fff;
  padding: 1rem;
  color: grey;
}
.container .card-2 {
  margin-top: 10px;
  background-color: #fff;
  color: grey;
  padding: 1rem;
}
