body {
  background-color: rgb(157, 194, 194);
}
.empty {
  height: 160px;
  width: 160px;
  background-color: #fff;
  display: inline-block;
  margin: 10px;
  border: 3px solid #589753;
}
.fill {
  background: url("photo.jpg") no-repeat center center/cover;
  height: 150px;
  width: 150px;
  position: relative;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.hold {
  border: 3px solid grey;
}
.hovered {
  background-color: #f4f4f4;
  border-style: dashed;
}
.invisible {
  display: none;
}
